<div>
    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
            <div class="row">
                <h1>Liste des protections</h1>
                <button mat-mini-fab color="warn" (click)="resetProtections()">
                <mat-icon>delete</mat-icon>
                </button>
            </div>   
            <mat-selection-list #protectionsHab>
                <h3>Habitation</h3>
                <mat-divider></mat-divider>
                <mat-list-option *ngFor="let protectionHab of protectionHabitationList" [value]="protectionHab" color="primary"> {{ protectionHab }} </mat-list-option>
            </mat-selection-list>
            <mat-selection-list #protectionsAuto>
                <h3>Automobile</h3>
                <mat-divider></mat-divider>
                <mat-list-option *ngFor="let protectionAuto of protectionAutomobileList" [value]="protectionAuto" color="primary"> {{ protectionAuto }} </mat-list-option>
            </mat-selection-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <h2>Offert et refusé : </h2>
            <h3>Habitation</h3>
            <mat-divider></mat-divider>
            <br>
            <p *ngFor="let refusedHabProtection of protectionsHab._value">
               {{ refusedHabProtection }} 
            </p>
            <h3>Automobile</h3>
            <mat-divider></mat-divider>
            <br>
            <p *ngFor="let refusedAutoProtection of protectionsAuto._value">
                {{ refusedAutoProtection }} 
            </p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>