.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.row {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    margin-right: 8px;
}

h1 {
    font-size: 30px;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
}

p {
    margin-left: 20px;
    font-size: 16px;
}