.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.row {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowInput {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.column {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    width: 42vh;
    margin-right: 20px
}

button {
    margin-right: 8px;
}

h1 {
    font-size: 30px;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 24px;
    font-size: 30px;
}

h3 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 200;
}

.text {
    margin-left: 20px;
    font-size: 16px;
}